@import url("http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400italic,400");
@import url("http://fast.fonts.com/cssapi/95b765fd-fae4-4f1b-8155-d8244914a5c6.css");

body {
  background: url("../images/metaverse.png") fixed center;
  font-family: "Open Sans", "Frutiger", "Arial", "sans-serif";
}

h1,
h2 {
  font-family: "Addelle W01 Bold", "Arvo", "Georgia", "serif";
}

h1 {
  text-align: center;
  font-size: 5em;
  color: #fff;
}

h2 {
  font-size: 2.5em;
  color: #dd3b2a;
}

.header {
  height: 492px;
  background-color: rgba(255, 255, 255, 0);
}

.header p {
  color: #fff;
  width: 45%;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: auto;
  margin-right: 10%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.main {
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 5px solid #dd3b2a;
}

.supporting {
  background-color: #edf6ff;
  border-top: 5px solid #cce4fb;
}

.supporting .content {
  display: flex;
  flex-direction: column;
}

.summary {
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 5px solid #cce4fb;
}

.content {
  width: 80%;
  margin: auto;
}

.main .content {
  display: flex;
}

.definition,
.howitwork {
  width: 45%;
  padding: 20px;
}

.whoplayer,
.willhappen {
  padding: 20px;
}

.whoplayer *,
.willhappen * {
  width: 45%;
}

.whoplayer {
  background: url("../images/conference.png") no-repeat right;
  display: flex;
  flex-direction: column;
}

.willhappen {
  display: flex;
  flex-direction: column;
  background: url("../images/avatar.png") no-repeat left;
}

.willhappen * {
  align-self: flex-end;
}

.whydothis {
  padding: 20px;
}

.whydothis h2 {
  text-align: center;
}

.whydothis p {
  display: inline-flex;
  width: 45%;
}

.whydothis > h3 + p {
  margin-right: 1.5em;
}

.whydothis > h3 + p + p {
  margin-left: 1.5em;
}

a {
  color: #dd3b2a;
  font-weight: bold;
  text-decoration: none;
}
